/* ========= NAVBAR (match restaurant) ========= */
.navbar {
    -fx-background-color: #f97316;
}

.nav-back {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: 800;
    -fx-cursor: hand;
}

.nav-back:hover {
    -fx-underline: true;
}

.nav-title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: 900;
    -fx-padding: 0 0 0 10;
}

/* user pill */
.nav-user {
    -fx-background-color: rgba(255,255,255,0.95);
    -fx-text-fill: #111827;
    -fx-font-weight: 900;
    -fx-padding: 6 12;
    -fx-background-radius: 999;
}
