.root {
    -fx-background-color: #fafafa;
    -fx-font-family: "Segoe UI";
}

/* ================= NAVBAR ================= */
.navbar {
    -fx-background-color: #ff6a1a;
    -fx-padding: 16 24;
}

.logo {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* =========================
   RESTAURANT HERO (ORANGE GRADIENT)
   ========================= */
.restaurant-hero {
    -fx-background-color: linear-gradient(
            to right,
            #6c2404,
            #d15814
    );
    -fx-background-radius: 28;
    -fx-padding: 28;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0.3, 0, 6);
}

/* Title */
.hero-title {
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Description */
.hero-desc {
    -fx-text-fill: #ffe7d9;
}

/* Info text */
.hero-text {
    -fx-text-fill: #fff3ec;
}

/* Delivery highlight */
.hero-delivery {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
/* ================= CATEGORIES ================= */
.categories-box {
    -fx-background-color: white;
    -fx-padding: 18;
    -fx-background-radius: 18;
}

.category-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14;
}

.category-btn:hover {
    -fx-text-fill: #ff6a1a;
}

/* ================= MENU ================= */
.section-title {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

.food-card {
    -fx-background-color: white;
    -fx-padding: 14;
    -fx-background-radius: 18;
}

.food-title {
    -fx-font-weight: bold;
    -fx-text-fill: #222;
}

.food-desc {
    -fx-text-fill: #666;
}

.food-price {
    -fx-text-fill: #ff6a1a;
    -fx-font-weight: bold;
}

.add-btn {
    -fx-background-color: #ff6a1a;
    -fx-text-fill: white;
    -fx-background-radius: 18;
    -fx-font-weight: bold;
}

/* ================= REVIEWS ================= */
.reviews-box {
    -fx-background-color: white;
    -fx-padding: 22;
    -fx-background-radius: 18;
}

.review-text {
    -fx-text-fill: #777;
}


/* Food card hover */
.food-card {
    -fx-background-color: white;
    -fx-padding: 12;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.2, 0, 4);
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.food-card:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}